h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--color-dark);
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --color-accent: rgb(22, 123, 255);
  --color-text: rgb(65, 65, 65);
  --color-border: rgb(206, 206, 206);
  --color-border-dark: rgb(177, 177, 177);
  --color-reviewer-mode: #ddd;
  --color-clues-row-highlighted-bg: rgb(190, 190, 190);
  --color-clues-row-bg: rgba(214, 214, 214, 0.4);
  --color-clues-border: rgb(199, 199, 199);
  --color-cell-selected-bg: rgb(61, 61, 61);
  --color-cell-border: rgb(189, 189, 189);
  --color-cell-border-bold: rgb(148, 148, 148);
  --color-cross: rgb(109, 109, 109);
  --border-radius: 6px;
  --container-max-width: 800px;
  --container-min-width: 375px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  margin: 0 auto;
}

.btn, .btn-primary, .btn-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  border-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn-primary, .btn-secondary {
  padding: 6px 10px;
  font-size: inherit;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}
.btn-primary:disabled, .btn-secondary:disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.4;
}

.btn-secondary {
  text-transform: capitalize;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  color: var(--color-accent);
  text-decoration: underline;
  border: unset;
}

.select-primary {
  padding: 0 2px;
  color: var(--color-text);
  text-transform: capitalize;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.select-primary:disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.game-field {
  --game-field-rows: 5;
  --game-field-cols: 5;
  --game-field-cell-size: min(2.5em, calc(76vw / var(--game-field-cols)));
  display: grid;
  grid-template-areas: "placeholder clues-top" "clues-left cells";
  font-weight: 300;
  font-size: 12px;
  color: var(--color-text);
}

.clues-top,
.clues-left {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.clues-top {
  grid-template-columns: repeat(var(--game-field-cols), var(--game-field-cell-size));
  grid-area: clues-top;
  border-left: 2px solid var(--color-cell-border-bold);
  border-right: 2px solid var(--color-cell-border-bold);
}
.clues-top .clues-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.clues-top .clues-list:not(:last-of-type) {
  border-right: 1px solid var(--color-cell-border);
}
.clues-top .clues-list:nth-of-type(5n):not(:last-of-type) {
  border-right: 1px solid var(--color-cell-border-bold);
}
.clues-top .clues-list:nth-of-type(5n):not(:last-of-type) + .clues-list {
  border-left: 1px solid var(--color-cell-border-bold);
}

.clues-left {
  grid-template-rows: repeat(var(--game-field-rows), var(--game-field-cell-size));
  grid-area: clues-left;
  border-top: 2px solid var(--color-cell-border-bold);
  border-bottom: 2px solid var(--color-cell-border-bold);
}
.clues-left .clues-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.clues-left .clues-list:not(:last-of-type) {
  border-bottom: 1px solid var(--color-cell-border);
}
.clues-left .clues-list:nth-of-type(5n):not(:last-of-type) {
  border-bottom: 1px solid var(--color-cell-border-bold);
}
.clues-left .clues-list:nth-of-type(5n):not(:last-of-type) + .clues-list {
  border-top: 1px solid var(--color-cell-border-bold);
}

.clues-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-clues-row-bg);
}
.clues-list--highlighted {
  -webkit-backdrop-filter: brightness(0.8);
          backdrop-filter: brightness(0.8);
}

.clue {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5em;
  width: 1.5em;
  line-height: 0;
  cursor: pointer;
}
.clue--discarded::before, .clue--discarded::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  display: block;
  height: 1px;
  background-color: var(--color-cross);
  border-radius: 20px;
}
.clue--discarded::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.clue--discarded::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.cells {
  --co-border: var(--color-cell-border);
  --co-border-dark: var(--color-cell-border-bold);
  display: grid;
  grid-area: cells;
  border: 2px solid var(--co-border-dark);
}

.cells__row {
  display: grid;
  grid-template-columns: repeat(var(--game-field-cols), var(--game-field-cell-size));
}
.cells__row:not(:last-of-type) {
  border-bottom: 1px solid var(--co-border);
}
.cells__row:nth-of-type(5n):not(:last-of-type) {
  border-bottom-color: var(--co-border-dark);
}
.cells__row:nth-of-type(5n):not(:last-of-type) + .cells__row {
  border-top: 1px solid var(--co-border-dark);
}

.cell {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.cell:not(:last-of-type) {
  border-right: 1px solid var(--co-border);
}
.cell:nth-of-type(5n) {
  border-right-color: var(--co-border-dark);
}
.cell:nth-of-type(5n) + .cell {
  border-left: 1px solid var(--co-border-dark);
}
.cell--selected {
  background-color: var(--color-cell-selected-bg) !important;
}
.cell--discarded::before, .cell--discarded::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  display: block;
  height: 1px;
  background-color: var(--color-cross);
  border-radius: 20px;
}
.cell--discarded::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.cell--discarded::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.puzzle-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  max-width: var(--container-min-width);
}
.puzzle-select__pic {
  width: 120px;
}
.puzzle-select__lvl {
  width: 90px;
}/*# sourceMappingURL=main.css.map */