/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --game-field-rows: 5;
  --game-field-cols: 5;
  --container-max-width: 750px;
  --container-min-width: 375px;
  --border-radius: 20px;
  --box-shadow: 0 1px 1px 1px var(--color-body-bg);
}

.light-theme, :root {
  --color-body-bg: rgb(247, 247, 247);
  --color-accent: #593954;
  --color-text: #414141;
  --color-text-sec: rgb(235, 235, 235);
  --color-border: rgb(206, 206, 206);
  --color-border-dark: rgb(177, 177, 177);
  --color-border-select: var(--color-border);
  --color-btn: var(--color-text-sec);
  --color-btn-bg: var(--color-text);
  --color-clues-row-highlighted-bg: rgb(194, 194, 194);
  --color-clues-row-bg: rgb(218, 218, 218);
  --color-clue-border: rgb(189, 189, 189);
  --color-reviewer-mode: #dfdfdf;
  --color-cell-bg: rgb(248, 248, 248);
  --color-cell-selected-bg: var(--color-text);
  --color-cell-border: rgb(189, 189, 189);
  --color-cell-border-bold: rgb(148, 148, 148);
  --color-cross: rgb(124, 124, 124);
  --color-clue-cross: var(--color-cross);
  --color-logo-icon: var(--color-text);
  --color-modal-text: rgb(65, 65, 65);
  --color-modal-bg: rgb(235, 235, 235);
  --color-backdrop-bg: rgba(40, 40, 46, 0.8);
  --color-modal-reward: #bdb9b9;
  --color-score-reward: currentColor;
  --color-score-zebra: rgb(218, 218, 218);
  --color-header-control: var(--color-text);
  --color-header-control-bg: var(--color-text);
}

.dark-theme {
  --color-body-bg: rgb(43, 43, 51);
  --color-accent: #593954;
  --color-text: rgb(207, 207, 207);
  --color-text-sec: rgb(61, 61, 71);
  --color-border: rgb(190, 190, 190);
  --color-border-dark: rgb(177, 177, 177);
  --color-border-select: rgb(90, 90, 90);
  --color-btn: var(--color-text);
  --color-btn-bg: var(--color-accent);
  --color-clues-row-highlighted-bg: rgb(82, 82, 92);
  --color-clues-row-bg: var(--color-text-sec);
  --color-clue-border: rgb(109, 109, 109);
  --color-reviewer-mode: #c4c5c7;
  --color-cell-bg: rgba(236, 236, 236, 0.9);
  --color-cell-selected-bg: rgb(40, 40, 46);
  --color-cell-border: rgb(167, 167, 167);
  --color-cell-border-bold: rgb(143, 143, 143);
  --color-header-control-bg: var(--color-accent);
  --color-clue-cross: rgb(175, 175, 175);
  --color-logo-icon: #7e4a77;
  --color-header-control: rgb(158, 158, 158);
  --color-modal-bg: rgb(212, 212, 212);
  --color-backdrop-bg: rgba(40, 40, 46, 0.8);
  --color-score-zebra: rgb(192, 192, 192);
  --color-modal-reward: #adaaaa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

:root {
  scrollbar-width: thin;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--color-dark);
  background-color: var(--color-body-bg);
  overflow-y: scroll;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.wrapper, .main__wrapper, .header__wrapper {
  margin: 0 auto;
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  padding: 0 10px;
}

.btn, .toggler, .score-btn, .btn-secondary, .btn-primary, .modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  border-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn-primary, .modal__btn {
  height: 25px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--color-btn);
  background-color: var(--color-btn-bg);
  border-radius: var(--border-radius);
}
.btn-primary:disabled, .modal__btn:disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
  -webkit-filter: grayscale(0.2);
          filter: grayscale(0.2);
}

.btn-secondary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  padding-right: 0;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: underline;
  background-color: transparent;
  color: var(--color-text);
}
.btn-secondary:disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.6;
}

.dark-theme .btn-secondary {
  opacity: 0.9;
}

.custom-select {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding-left: 10px;
  padding-top: 1px;
  font-size: 14px;
  text-transform: capitalize;
  background-color: var(--color-text-sec);
  color: var(--color-text);
  border: 1px solid var(--color-border-select);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.custom-select:disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.clues-top,
.clues-left {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.clues-top {
  grid-template-columns: repeat(var(--game-field-cols), var(--game-field-cell-size));
  grid-area: clues-top;
  border-left: 2px solid var(--color-cell-border-bold);
  border-right: 2px solid var(--color-cell-border-bold);
}
.clues-top .clues-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-top: 5px;
  padding-bottom: 3px;
}
@media (width <= 500px) {
  .clues-top .clues-list {
    padding: 0;
  }
}
.clues-top .clues-list:not(:last-of-type) {
  border-right: 1px solid var(--color-clue-border);
}
.clues-top .clues-list:nth-of-type(5n):not(:last-of-type) {
  border-right: 1px solid var(--color-cell-border-bold);
}
.clues-top .clues-list:nth-of-type(5n):not(:last-of-type) + .clues-list {
  border-left: 1px solid var(--color-cell-border-bold);
}

.clues-left {
  grid-template-rows: repeat(var(--game-field-rows), var(--game-field-cell-size));
  grid-area: clues-left;
  border-top: 2px solid var(--color-cell-border-bold);
  border-bottom: 2px solid var(--color-cell-border-bold);
}
.clues-left .clues-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-left: 5px;
}
@media (width <= 500px) {
  .clues-left .clues-list {
    padding: 0;
  }
}
.clues-left .clues-list:not(:last-of-type) {
  border-bottom: 1px solid var(--color-clue-border);
}
.clues-left .clues-list:nth-of-type(5n):not(:last-of-type) {
  border-bottom: 1px solid var(--color-cell-border-bold);
}
.clues-left .clues-list:nth-of-type(5n):not(:last-of-type) + .clues-list {
  border-top: 1px solid var(--color-cell-border-bold);
}

.clues-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-clues-row-bg);
}
.clues-list--highlighted {
  background-color: var(--color-clues-row-highlighted-bg);
}

.clue {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.6em;
  width: 1.6em;
  line-height: 0;
  cursor: pointer;
}
.clue--discarded::before, .clue--discarded::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  display: block;
  height: 1px;
  background-color: var(--color-clue-cross);
  border-radius: 20px;
}
.clue--discarded::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.clue--discarded::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.cells {
  display: grid;
  grid-area: cells;
  border: 2px solid var(--color-cell-border-bold);
}

.cells__row {
  display: grid;
  grid-template-columns: repeat(var(--game-field-cols), var(--game-field-cell-size));
  cursor: pointer;
}
.cells__row:not(:last-of-type) {
  border-bottom: 1px solid var(--color-cell-border);
}
.cells__row:nth-of-type(5n):not(:last-of-type) {
  border-bottom-color: var(--color-cell-border-bold);
}
.cells__row:nth-of-type(5n):not(:last-of-type) + .cells__row {
  border-top: 1px solid var(--color-cell-border-bold);
}

.cell {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--color-cell-bg);
}
.cell:not(:last-of-type) {
  border-right: 1px solid var(--color-cell-border);
}
.cell:nth-of-type(5n) {
  border-right-color: var(--color-cell-border-bold);
}
.cell:nth-of-type(5n) + .cell {
  border-left: 1px solid var(--color-cell-border-bold);
}
.cell--selected {
  background-color: var(--color-cell-selected-bg) !important;
}
.cell--discarded::before, .cell--discarded::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  display: block;
  height: 1px;
  background-color: var(--color-cross);
  border-radius: 20px;
}
.cell--discarded::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.cell--discarded::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.game-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5vw;
  width: 100%;
  padding-top: 15px;
}

.puzzle-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.puzzle-select .custom-select {
  width: 120px;
}

.timer {
  font-size: 18px;
  color: var(--color-text);
}

.dark-theme .timer {
  opacity: 0.9;
}

.game-field {
  --game-field-cell-size: min(2.5rem, calc(80vw / var(--game-field-cols)));
  display: grid;
  grid-template-areas: "placeholder clues-top" "clues-left cells";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: var(--color-text);
}

.game-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: clamp(375px, max(65%, var(--game-field-cols) * 3em), 100%);
  margin-top: 30px;
}
.game-controls .btn-primary, .game-controls .modal__btn {
  font-size: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 4px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.score-btn {
  border-radius: 50%;
  padding: 0;
  color: var(--color-header-control);
}
.score-btn__icon {
  width: 43%;
  height: 43%;
  fill: currentColor;
}

.toggler {
  width: 40px;
  height: 40px;
  color: var(--color-header-control);
  background-color: transparent;
  border-radius: 50%;
}
.toggler__icon {
  width: 62%;
  height: 62%;
  fill: currentColor;
}

.toggler--reviewer-mode .toggler__icon {
  width: 70%;
  height: 70%;
}

.toggler--sound .toggler__icon {
  width: 100%;
  height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--color-text);
}
.logo__text {
  font-size: 16px;
  line-height: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.logo__icon {
  width: 16px;
  height: 16px;
  fill: var(--color-logo-icon);
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  padding: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.score__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.score__noresults {
  padding-top: 5px;
  text-transform: lowercase;
  text-align: center;
  opacity: 0.5;
}
.score__header, .score__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.score__row {
  border-bottom: 1px solid var(--color-score-zebra);
}
.score__header {
  padding-bottom: 5px;
  font-weight: 700;
  border-bottom: 1px solid var(--color-score-zebra);
}
.score__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  height: auto;
  width: 30%;
}
.score__item:first-of-type {
  width: 10%;
}
.score__item > svg {
  height: 20px;
  width: 20px;
  fill: var(--color-score-reward);
}

.score__results .score__item:first-of-type {
  background-color: var(--color-modal-bg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-backdrop-bg);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}
.backdrop--active {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.scroll-lock {
  scrollbar-gutter: stable;
  overflow: hidden;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 20px;
  max-width: 375px;
  color: var(--color-modal-text);
  background-color: var(--color-modal-bg);
  border-radius: 8px;
}
.modal__para {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}
.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 100%;
  line-height: 1.3;
}
.modal__btn {
  height: 35px;
  padding: 0 40px;
  text-transform: uppercase;
}
.modal__icon {
  width: 40px;
  height: 40px;
  fill: var(--color-modal-reward);
}/*# sourceMappingURL=main.css.map */