$max-container-width: 600px;
$min-container-width: 375px;

:root {
  --color-body-bg: rgb(247, 247, 247);
  // --color-accent: rgb(148, 86, 75);
  --color-accent: #593954;
  --color-text: rgb(65, 65, 65);
  --color-text-sec: rgb(235, 235, 235);

  --color-border: rgb(206, 206, 206);
  --color-border-dark: rgb(177, 177, 177);
  --color-border-select: var(--color-border);

  --color-reviewer-mode: #d8d8d8;

  --color-btn: var(--color-text-sec);
  --color-btn-bg: var(--color-text);

  --color-clues-row-highlighted-bg: rgb(194, 194, 194);
  --color-clues-row-bg: rgb(218, 218, 218);
  --color-clue-border: rgb(189, 189, 189);

  --color-cell-bg: rgb(247, 247, 247);
  --color-cell-selected-bg: var(--color-text);
  --color-cell-border: rgb(189, 189, 189);
  --color-cell-border-bold: rgb(148, 148, 148);

  --color-cross: rgb(124, 124, 124);
  --color-clue-cross: var(--color-cross);
  --color-logo-icon: var(--color-text);

  --color-modal-text: rgb(65, 65, 65);
  --color-modal-bg: rgb(235, 235, 235);
  --color-backdrop-bg: rgba(40, 40, 46, 0.8);

  --color-score-reward: currentColor;
  --color-score-zebra: rgb(221, 221, 221);
  --color-header-control: var(--color-text);
  --header-control-size: 15px;

  --border-radius: 20px;
  --container-max-width: 600px;
  --container-min-width: 375px;
  --box-shadow: 0 1px 1px 1px var(--color-body-bg);
}

.dark-theme {
  --color-body-bg: rgb(43, 43, 51);
  --color-accent: #593954;
  --color-text: rgb(207, 207, 207);
  --color-text-sec: rgb(61, 61, 71);

  --color-border: rgb(190, 190, 190);
  --color-border-dark: rgb(177, 177, 177);
  --color-border-select: rgb(121, 121, 121);

  --color-btn: var(--color-text);
  --color-btn-bg: var(--color-accent);

  --color-clues-row-highlighted-bg: rgb(82, 82, 92);
  --color-clues-row-bg: var(--color-text-sec);
  --color-clue-border: rgb(109, 109, 109);

  --color-cell-selected-bg: rgb(40, 40, 46);
  --color-cell-border: rgb(189, 189, 189);
  --color-cell-border-bold: rgb(148, 148, 148);

  --color-header-control-bg: var(--color-accent);
  --color-clue-cross: rgb(175, 175, 175);
  --color-logo-icon: #5f3d5a;
  --color-header-control: rgb(158, 158, 158);

  --color-modal-bg: rgb(218, 218, 218);
  --color-backdrop-bg: rgba(40, 40, 46, 0.8);

  --color-score-zebra: rgb(207, 207, 207);
  //--color-score-reward: var(--color-accent);
}
