.game-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  padding: 0 15px;

  width: 100%;
  max-width: max(60%, calc(var(--game-field-cols) * 3em));
  margin-top: 30px;

  .btn-primary {
    font-size: 14px;
    flex-grow: 1;
    padding: 20px 4px;
  }
}
