.game-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
  //margin-top: 10px;
  padding-top: 20px;

  // @media (width <= 530px) {
  //   flex-direction: column;
  // }
}

.puzzle-select {
  display: flex;
  gap: 12px;

  .custom-select {
    width: 100px;
  }
}

.timer {
  font-weight: 600;
  color: var(--color-text);
}

.dark-theme .timer {
  opacity: 0.7;
}
