.game-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;

  width: 100%;
  padding-top: 15px;
}

.puzzle-select {
  display: flex;
  gap: 12px;

  .custom-select {
    width: 120px;
  }
}

.timer {
  font-size: 18px;
  color: var(--color-text);
}

.dark-theme .timer {
  opacity: 0.9;
}
