.header {
  &__wrapper {
    @extend .wrapper;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.score-btn {
  @extend .btn;
  padding: 5px;
  border-radius: 50%;
  color: var(--color-header-control);

  &__icon {
    width: var(--header-icons-size);
    height: var(--header-icons-size);
    fill: currentColor;
  }
}

.toggler {
  @extend .btn;
  width: fit-content;
  padding: 5px;

  color: var(--color-header-control);
  background-color: transparent;

  border-radius: 50%;

  &__icon {
    width: var(--header-icons-size);
    height: var(--header-icons-size);
    fill: currentColor;
  }
}

.toggler--reviewer-mode {
  .toggler__icon {
    width: calc(var(--header-icons-size) + 2px);
    height: calc(var(--header-icons-size) + 2px);
  }
}

.toggler--sound {
  .toggler__icon {
    width: calc(var(--header-icons-size) + 14px);
    height: calc(var(--header-icons-size) + 14px);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text);

  &__text {
    font-size: 16px;
    line-height: 0;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--color-logo-icon);
  }
}
