.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-backdrop-bg);
  overflow: scroll;

  @include hidden(true) {
    opacity: 0;
  }
  @include main-transition('opacity, visibility');

  &--active {
    @include hidden(false) {
      opacity: 1;
    }
  }
}

.scroll-lock {
  overflow: hidden;
  scrollbar-gutter: stable;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 30px 20px;
  max-width: 375px;

  color: var(--color-modal-text);
  background-color: var(--color-modal-bg);
  border-radius: 8px;

  &__para {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
  &__content {
    width: 100%;
  }

  &__btn {
    @extend .btn-primary;
    padding: 15px 25px;
    text-transform: uppercase;
  }
}
