.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: var(--container-max-width);
  min-width: var(--container-min-width);

  margin: 0 auto;
}
