body {
  font-family: 'Nunito', sans-serif;
  user-select: none;
  color: var(--color-dark);
  background-color: var(--color-body-bg);

  @include main-transition('color background-color');
}

// body::before {
//   content: '';
//   display: block;
//   width: 100%;
//   height: 10px;
//   background-color: rgba(170, 170, 170, 0.2);
// }
